* {
    box-sizing: border-box;
}



.experience {
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.card-container {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    display: flex;
    background-color: #100e17;
    padding: 3rem;
    align-items: center;
    justify-content: center;
}

.card {
    min-width: 300px;
    height: 350px;
    border-radius: 16px;
    background-color: #17141d;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    transition: 0.2s;
}

.date {
    color: #8a8a8a;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0 1rem;
}

.tags div {
    font-size: 9px;
    font-weight: 700;
    padding: 4px 10px;
    border: 3px solid #28242f;
    border-radius: 2rem;
}

.card .category-title {
    font-size: 14px;
    color: #fff;
    margin-bottom: 1rem;
}

.card .article-title {
    font-size: 20px;
    font-weight: 700;
}

.card .article-header {
    margin-bottom: auto;
}

.card .author {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 75px 1fr;
}

.author .info .caption {
    color: #8a8a8a;
}

.card:not(:first-child) {
    margin-left: -130px;
}

.card:hover {
    transform: translateY(-1rem);
}

.card:hover~.card{
    transform: translateX(130px);
}