@import "./global.scss";


.App {
    height: 100vh;

    .sections {
        width: 100%;
        height: calc(100vh - 70px);
        background-color: white;
        position: relative;
        top: 0px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none; // for firefox

        

        >* {
            width: 100%;
            height: calc(100vh - 70px);
            scroll-snap-align: start;
        }
        
    }

        // /* width */
        // ::-webkit-scrollbar {
        //     width: 15px;
        // }
    
        // /* Track */
        // ::-webkit-scrollbar-track {
        //     box-shadow: inset 0 0 5px grey;
        // }
    
        // /* Handle */
        // ::-webkit-scrollbar-thumb {
        //     background: $mainColor;
        // }
    
        // /* Handle on hover */
        // ::-webkit-scrollbar-thumb:hover {
        //     background: #0d5252;
        // }
        
        // -webkit-overflow-scrolling: auto;

}